* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Cormorant", serif;
    background-color: #f4f4f44a;
  } 
  h1 {
    font-weight: 300;
    font-size: 40px;
    margin: 0 50px 0 0;
  }
  
  h1 span {
    color: #770f37;
    display: inline-block;
    animation: spin 15s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .navbar {
    margin: 50px 0px 100px 35px;
}
.inline-block {
    display: inline-block;
}
.links ul {
  font-family: "Lora", serif;
  display: inline-block;
  list-style: none;
}
.links ul li {
  display: inline-block;
  margin-right: 25px;
}
.links a:link,
.links a:visited {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.links a:hover,
.links a:active {
  font-size: 25px;
  color: #003;
}
.links ul li:first-child a {
    text-decoration: underline 1px;
    text-underline-offset: 5px;
  }
  main {
    margin-left: 35px;
  }
  main{
    margin-left: 35px;
  }

.card {
width: 49.8%;
display: inline-block;
padding: 0 30px 30px 0;
  }
  .card img {
    height: 500px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 7px 20px ;
  }